@media only screen and (max-width: 768px) {
	section {
    margin-top: 514px;
}
#call-to-action {
    margin-top: -367px;
    margin-bottom: 93px;
}
#videoinac {
    width: 739px;
    margin-top: -23px;
    margin-left: -104px;
}
#banner img {
    display: none;
}
header #logotipo {
    position: absolute;
    top: 16px;
    margin-inline: -45px;
    z-index: 3;
}
#estatisticas {
    background-color: #5C2D90;
    height: 309px;
    margin-top: -127px;
}
#menu {
    margin: 8px 1px;
    position: relative;
    margin-right: 0px;
    margin-top: 5px;
    margin-left: 267px;
}
#menu li a {
    color: #FFF;
    font-size: 12px;
    padding: 8px 7px;
    font-weight: bold;
}
	#logofama {
		display: none;
	}
	#call-to-action .row {
    margin-top: 35px;
    margin-inline: 104px;
    font-size: 21px;
    color: purple;
    margin-bottom: 28px;
	}
	#news .thumbnails {
    color: #5C2D90;
    margin-inline: 129px;
}
#audition {
    margin-top: 10px; 
    width: 432px; 
}

#logofama {
	display: none;
}
#estatisticas {
    background-color: #5C2D90;
    height: 309px;
    width: 792px;
    margin-top: -309px;
}
#estatisticas p {
    color: yellow;
    font-size: 45px;
    font-family: 'Poppins-ExtraLight';
    text-align: center;
    margin-top: 4px;
    display: block;
}
footer .footer-grey {
    background-color: grey;
    height: 171px;
    width: 793px;
}
footer .footer-black {
    background-color: black;
    height: 85px;
    width: 792px;
}
footer .footer-black label {
    color: white;
    text-align: center; 
    margin: 13px; 
    margin-left: -68px;
    margin-right: 34px; 
    font-size: 10px;
}
}
@media only screen and (max-width: 480px) {
	header #logotipo {
    position: absolute;
    top: 17px;
    margin-inline: 40px;
    z-index: 4;
}

section {
    margin-top: 355px;
}


header .header-black button {
    display: flex;
}
#btn-bars, #btn-search {
    color: #fff;
    background: none;
    font-size: 22px;
    margin: 7px;
    position: absolute;
    border: none;
}
#btn-search {
    right: 0;
}
#banner img {
    display: none;
}
#banner h1 {
    color: #5C2D90;
    top: -179px;
    position: relative;
    font-size: 95px;
    text-shadow: -7px 6px 4px rgba(0, 0, 0, .45);
    font-family: 'Poppins-ExtraLight';
    margin-left: 126px;
}
	#menu ul {
		display: none;
	}
	#logofama {
		display: none;
	}
	#call-to-action .row {
    margin-top: 35px;
    margin-inline: 104px;
    font-size: 21px;
    color: purple;
    margin-bottom: 28px;
	}
	#banner h2 {
    color: #5C2D90;
    top: -174px;
    position: relative;
    font-size: 20px;
    text-shadow: -3px 3px 4px rgba(0, 0, 0, .45);
    font-family: 'Poppins-ExtraLight';
    margin-left: 58px;
    margin-right: -21px;
}
#audition {
    margin-top: 10px;
    width: 200px;
}
#news h3 {
    margin-top: 187px;
    color: #5C2D90;
    font-size: 45px;
    font-family: 'Poppins-ExtraLight';
    text-align: center;
    margin-left: 28px;
}
#estatisticas {
    background-color: #5C2D90;
    height: 200px;
    width: 445px;
    margin-top: -331px;
}
#estatisticas p {
    color: yellow;
    font-size: 16px;
    font-family: 'Poppins-ExtraLight';
    text-align: center;
    margin-top: 1px;
    display: block;
}
#news .thumbnails {
    color: #5C2D90;
    margin-inline: 66px;
}
.container {
    padding-right: 13px;
    padding-left: 15px;
    margin-right: 0px;
    margin-left: 0px;
}
#call-to-action hr {
    margin-bottom: 25px;
    border: #FDE192 solid 8px;
    width: 382px;
    margin-top: -74px;
}

#call-to-action h1 {
    color: #5C2D90;
    top: -79px;
    margin-left: 80px;
    position: relative;
    font-size: 95px;
    text-shadow: -7px 6px 4px rgba(0, 0, 0, .45);
    font-family: 'Poppins-ExtraLight';
}
#call-to-action .row {
    margin-top: 35px;
    margin-inline: -2px;
    margin-right: -48px;
    font-size: 21px;
    color: purple;
    margin-bottom: 28px;
}
#call-to-action p {
	margin-left: 54px;
}
#call-to-action {
    margin-top: 71px;
    text-align: center;
    margin-left: 15px;
}
#call-to-action-video {
    margin-top: -202px;
    text-align: center;
    margin-left: 15px;
}
#call-to-action-video h2 {
    margin: 31px;
    text-align: center;
    margin-left: 82px;
}


footer .col-xs-6 {
    width: 100%;
}
footer .footer-grey {
    width: 445px;
    background-color: grey;
    height: 169px;
}
footer .footer-black {
    background-color: black;
    height: 146px;
    width: 444px;
}
footer .footer-black label {
    color: white;
    text-align: center;
    margin: 13px;
    margin-left: 0;
    margin-right: 0;
    font-size: 10px;
}
header #menu-mobile {
        position: fixed;
        top: 40px;
        background-color: #fff;
        width: 80%;
        height: 100%;
        left:-80%;
        transition: 1s;
        z-index: 5;
        display: flex;
    }
    header.open-menu #menu-mobile {
        left: 0;
    }
    header.open-menu #menu-mobile-mask {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
        z-index: 4;
    }

header.open-menu #menu-mobile ul {
    margin-top: 119px;
    margin-right: 9px;
    margin-inline: 17px;
}
header.open-menu #menu-mobile li {
        text-align: center;
        margin-top: 29px;
        list-style-type: none;
        border-top: #CCC 2px solid;
        border-bottom: #CCC 2px solid;

    }
header.open-menu #menu-mobile li a {
    color: #5C2D90;
    font-family: 'Poppins-ExtraLight';
    font-size: 21px;
    padding: 8px 7px;
    font-weight: bold;
    margin-top: 100px;
    }
header #logotipo2 {
    position: absolute; 
    top: 11px;
    width: 225px;
    margin-inline: 66px;
    z-index: 6;
}
 #logotipo2{
    transform: rotate(360deg);
}
#closeMenuMobile {
    position: absolute;
    background-color: #5C2D90;
    height: 40px;
    border: none;
    width: 100%;
    margin-top: 716px;

}
#closeX {
    background: none;
    color: white;
    width: 49px;
    height: 36px;
    border: none;
    font-size: 28px;
    margin-inline: 6px;

}
#menu-mobile ul .efeito{
    font-size:2em;
    transition:1s;
}
.search #search-mobile {
    position: absolute;
    display: flex;
    margin-inline: 113px;
    margin-top: -3px;
    height: 40px;
    color: white;
    width: 260px;
    padding: 5px;
    font-size: 20px;
    background-color: black;
    border: none;
    transition: 1s;
}
#videoinac {
    width: 448px;
    margin-top: -23px;
    margin-left: -14px;
}
}
